---
import BackgroundMobile from "../../../../public/pages/contact-us/faq/bg-mobile.webp";
import BackgroundWeb from "../../../../public/pages/contact-us/faq/bg-faq-web.webp";
import IconTextTitle from "../../../../public/pages/contact-us/faq/THEME.webp";
import IconChatImage from "../../../../public/pages/contact-us/faq/LANGUAGE-COURSE.png";
---

<>
  <section
    class="bg-cover bg-top px-7 block md:hidden"
    style={`background-image: url(${BackgroundMobile.src})`}
  >
    <div class="flex flex-col gap-8 pt-[9%]">
      <!-- judul -->
      <div
        class="flex flex-col gap-2"
      >
        <div class="flex flex-col justify-center items-center gap-1.5 font-mochiy-pop-one font-normal text-[#CB0D0D] text-xl">
          <span> FREQUENTLY </span>

          <span> ASKED QUESTIONS </span>
        </div>
        <div class="flex justify-center">
          <img src={IconTextTitle.src} alt="" class="w-[50%]" />
        </div>
      </div>
      <div class="flex justify-center">
        <img src={IconChatImage.src} alt="" />
      </div>
    </div>

    <div class="pb-[90%]"></div>
  </section>


   <section
    class="bg-cover bg-top h-auto min-h-screen hidden md:block"
    style={`background-image: url(${BackgroundWeb.src})`}
  >
    <div class="pb-[46%]"></div>
  </section>
</>
