---
const background = "/pages/services/cici-career-link-expert/hero/background.png";
const bgMobile = "/pages/services/cici-career-link-expert/hero/bg-mobile.png";
const scrollImage = "/pages/services/cici-career-link-expert/hero/scroll-paper.png";
---

<section class="relative w-full overflow-hidden z-20">
  <!-- Mobile Background -->
  <img src={bgMobile} alt="Hero background" class="w-full h-auto block sm:hidden" />

  <!-- Desktop Background -->
  <img src={background} alt="Hero background" class="w-full h-screen object-cover hidden sm:block" />

  <img src={scrollImage} alt="Scroll image" class="absolute top-0 left-1/2 -translate-x-1/2 w-auto h-auto px-4 mt-24 block sm:hidden" />
</section>
