---
const background = "/pages/services/cici-career-link-expert/hero/background.png";
const bgMobile = "/pages/services/cici-career-link-expert/hero/bg-mobile.png";
---

<section class="relative w-full h-screen bg-cover bg-center bg-no-repeat z-20">
  <img src={bgMobile} alt="Hero background" class="absolute inset-0 w-full h-full object-cover sm:hidden z-0" />
  <img src={background} alt="Hero background" class="absolute inset-0 w-full h-full object-cover hidden sm:block z-0" />
  <div class="absolute inset-x-0 bottom-0 h-20 shadow-2xl pointer-events-none"></div>
</section>
