---
const backgroundImage = "/pages/services/cici-study-abroad-expert/hero/background.png";
const scrollImage = "/pages/services/cici-study-abroad-expert/hero/scroll-paper.svg";
const bgMobile = "/pages/services/cici-study-abroad-expert/hero/bg-mobile.png";
---

<section class="relative w-full h-screen bg-cover bg-center bg-no-repeat z-20">
  <img src={bgMobile} alt="Hero background" class="absolute inset-0 w-full h-full object-cover sm:hidden z-0" />
  <img src={backgroundImage} alt="Hero background" class="absolute inset-0 w-full h-full object-cover hidden sm:block z-0" />
  <div class="absolute inset-x-0 bottom-0 h-32 bg-linear-to-t from-black/30 to-transparent pointer-events-none z-10"></div>

  <div class="absolute inset-x-0 bottom-0 h-20 shadow-2xl pointer-events-none"></div>
</section>
