---
const BackgroundMobile = "/pages/about-us/cici-mandarin-team/OLD-PAPER-MOBILE.webp";
const Background = "/pages/about-us/cici-mandarin-team/OLD-PAPER-WEB.webp";

const ImageMobile = "/pages/about-us/cici-mandarin-team/image-mobile.webp";
const Imageweb = "/pages/about-us/cici-mandarin-team/image-web.png";
---

<>
  <section
    class="bg-cover bg-center pt-14 pb-10 px-7 block md:hidden"
    style={`background-image: url(${BackgroundMobile})`}
  >
    <div class="flex flex-col gap-3 justify-center items-center">
      <div class="flex flex-col justify-center items-center gap-4 pt-5">
        <div
          class="text-center font-mochiy-pop-one font-bold text-xl text-[#CB0D0D]"
        >
          CICI MANDARIN TEAM
        </div>
        <span class="text-center text-[#CB0D0D]"
          >At Cici Mandarin, our strength is a team of professionals from
          Indonesia and China with firsthand experience <span
            class="font-bold ]"
          >
            living, studying, and working in China.
          </span> We combine local insight with deep knowledge of China's culture,
          education, job market, and travel scene.</span
        >
        <span class="text-center text-[#CB0D0D]"
          >What sets us apart is how we bridge both worlds—offering Mandarin
          lessons and personalized guidance <span class="font-bold ]">
            for study, work, and travel in China.
          </span>
          Wherever you are, we're your trusted partner on the journey.</span
        >
      </div>

      <div class="px-5">
        <img src={ImageMobile} alt="" />
      </div>
    </div>
  </section>

  <section
    class="hidden md:block bg-cover bg-center pt-14 pb-10 px-7"
    style={`background-image: url(${Background})`}
  >
    <div class="flex flex-col gap-3 justify-center items-center">
      <div class="flex flex-col justify-center items-center gap-8 pt-10">
        <div
          class="text-center font-mochiy-pop-one font-bold text-3xl text-[#CB0D0D] pt-12"
        >
          CICI MANDARIN TEAM
        </div>
        <div class="px-20">
          <img src={Imageweb} alt="" />
        </div>
      </div>
    </div>
  </section>
</>
