---
import BackgroundMobile from "../../../../public/pages/about-us/vission-mission/VISION-MISSION-MOBILE.webp";
import Background from "../../../../public/pages/about-us/vission-mission/VISION-MISSION.webp";
---

<>
  <section
    class="bg-cover bg-center px-7 block md:hidden min-h-screen -mt-3"
    style={`background-image: url(${BackgroundMobile.src})`}
  >
    <div class=""></div>
  </section>

  <section
    class="bg-cover bg-top h-auto min-h-screen hidden md:block"
    style={`background-image: url(${Background.src})`}
  >
    <div class="pt-[5%] pb-[56%]"></div>
  </section>
</>
