---
import Background from "../../../../public/landing-pages/why-us/BG.png";
---

<section
  class="bg-cover bg-top px-6 py-4"
  style={`background-image: url(${Background.src})`}
>
  <div class="flex flex-col gap-3">
    <span
      class="flex justify-center items-center font normal font-mochiy-pop-one text-[#CB0D0D] text-2xl"
    >
      WHY US ?
    </span>

    <div class="flex flex-col gap-2 text-xs">
      <span class="font normal text-[#CB0D0D] text-center ">
        At Cici Mandarin, we don't just help you study, travel, or work in
        China—<span class="font-bold">we empower you to thrive. </span>
      </span>
      <span class="font normal text-[#CB0D0D] text-center">
        With personalized services, expert guidance, and a deep understanding of
        both Indonesian and Chinese cultures, <span class="font-bold"
          >we've helped hundreds of clients achieve their dreams.
        </span>
      </span>
      <span class="font normal text-[#CB0D0D] text-center">
        Whether it's mastering Mandarin, securing a scholarship, or exploring
        China's wonders, we're here to make your journey seamless and
        successful.
      </span>
      <span class="font normal text-[#CB0D0D] text-center">
        Let us be your trusted partner in unlocking the opportunities China has
        to offer!
      </span>
    </div>

    <!-- video card -->
    <div>
    </div>
  </div>
</section>
