---
import Navbar from "../components/globals/Navbar.astro";
import Footer from "../components/globals/Footer.astro";

import '../styles/globals.css';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/cici-mandarin.svg" />

		<meta name="generator" content={Astro.generator} />
		<title>{title} - Cici Mandarin: Your All-in-One Gateway to China, Study, Travel, & Work</title>
	</head>
	<body class="w-screen h-screen max-w-[100vw] overflow-x-hidden">
		<Navbar />

		<slot />
		
		<Footer />
	</body>
</html>
