---
const background = "/pages/services/cici-tour-travel-expert/roadmap/background.webp";
const bgMobile = "/pages/services/cici-tour-travel-expert/roadmap/bg-mobile.webp";
const handPhone = "/pages/services/cici-tour-travel-expert/roadmap/hand-phone.webp";

const video1 = "/pages/landing-pages/why-us/1.mp4"
const video2 = "/pages/landing-pages/why-us/2.mp4"
const video3 = "/pages/landing-pages/why-us/3.mp4"
const video4 = "/pages/landing-pages/why-us/4.mp4"
const video5 = "/pages/landing-pages/why-us/5.mp4"
const video6 = "/pages/landing-pages/why-us/6.mp4"
const video7 = "/pages/landing-pages/why-us/7.mp4"
---

<section class="relative w-full overflow-hidden -mt-6 -z-3">
  <picture>
    <source media="(min-width: 640px)" srcset={background} />
    <img src={bgMobile} alt="Roadmap background" class="w-full h-auto block" />
  </picture>

  <div class="absolute inset-0 px-4 md:px-8 lg:px-16 py-8 md:py-12">
    <div class="flex justify-center mb-8 md:mb-12">
      <div class="text-white px-8 md:px-12 py-3 md:py-7 rounded-lg shadow-lg">
        <h2 class="text-lg md:text-xl lg:text-3xl font-bold text-center tracking-wide font-mochiy-pop-one">ROADMAP TO JOIN</h2>
      </div>
    </div>
  </div>
</section>
