---
const background = "/services/cici-language-course-expert/benefits/background.webp";
const item1 = "/services/cici-language-course-expert/benefits/item-1.svg";
const item2 = "/services/cici-language-course-expert/benefits/item-2.svg";
const item3 = "/services/cici-language-course-expert/benefits/item-3.svg";
---

<section class="relative w-full h-screen bg-cover bg-right bg-no-repeat overflow-hidden" style={`background-image: url(${background});`}>
</section>