---
const background = "/pages/services/cici-language-course-expert/goals/background.png";
const bgMobile = "/pages/services/cici-language-course-expert/goals/bg-mobile.png";
---

<section class="relative w-full overflow-hidden -mt-24">
  <!-- Mobile Background -->
  <img src={bgMobile} alt="Goals background" class="w-full h-auto block md:hidden" />

  <!-- Desktop Background -->
  <img src={background} alt="Goals background" class="w-full h-screen object-cover object-right hidden md:block" />
</section>
