---
const background = "/services/cici-language-course-expert/Goals/background.webp"
---

<section class="relative w-full h-screen bg-cover bg-right bg-no-repeat overflow-hidden -mt-16" style={`background-image: url(${background});`}>


</section>