---
const background = "/services/cici-language-course-expert/programs/background.webp";
const toscaOrange = "/services/cici-language-course-expert/programs/tosca-orange.svg";
---

<section class="relative w-full h-screen bg-cover bg-right bg-no-repeat overflow-hidden -mt-16 -z-1" style={`background-image: url(${background});`}>

</section>