---
const background = "/services/cici-language-course-expert/roadmap/background.webp";
---

<section class="relative w-full h-screen bg-cover bg-right bg-no-repeat overflow-hidden" style={`background-image: url(${background});`}>
</section>